<html>
  <head>
      <title>Lol u all suk</title>
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
      <link rel="stylesheet" href="/master.css?<%=rand%>">
  </head>
  <body>
    <form id="search-rant" action="<%=url(:action => :search)%>">
      Search anonymous rants on <input type="text" name="title" />
    </form>
    
    <div id="subjects">
      <% @subjects.each do |subject| %>
        <p><a href="<%=url(:action => :show, :id => subject.id)%>"><%=h subject.title %></a> 
          <small><%=time_format(subject.created_at) %></small></p>
      <% end %>
    </div>
  </body>
</html>
